/* h1 {
  color: green;
  background-color: orange;
  text-align: center;
	font-size: 39px
} */

.heading {
  color: green;
  background-color: orange;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

.paragraph-top {
  color: red;
  background-color: blueviolet;
}

.middle-paragraph {
  color: yellow;
  background-color: black;
}

.the-bottom-paragraph {
  color: orange;
  background-color: tomato;
}

.link {
  text-transform: uppercase;
}

